// Nextflow config with profiles for local and slurm, and conda/singularity settings

profiles {
    slurm {
        process.executor = 'slurm'
        singularity.enabled = true
        condaEnabled = false
    }
}

params {
    outdir = 'results'

    // Defaults for create_counts_process / 2fast2q
    // Path to the barcode CSV used with --g
    // TODO: These should not have a default in th end, but useful for development purposes
    ;folder_with_barseq_files = '/g/typas/Personal_Folders/Carlos/Illumina_sequencing/RB-seq/experiments/CV016G_uniformis_vulgatus_mouse_colonization_comm20/CV016G_uniformis/CV016G_uniformis_raw_data'
    // Output directory parameter for 2fast2q (--o)
    ;tf_outdir = './CV016G_2fast2q_2mismatch_output'
    // Upstream and downstream flanking sequences used by 2fast2q
    upstream_seq = 'CACGAGGTGTACGAT'
    downstream_seq = 'CAGAATTGGGAGTCT'
}

// Helper for enabling conda in processes
process {
    ; withName: run_fastp_process {
    ;     conda = params.conda ? 'envs/fastp.yaml' : null
    ;     container = params.singularity ? 'docker://quay.io/biocontainers/fastp:1.1.0--heae3180_0' : null
    ; }
    withName: create_counts_process {
        conda = params.conda ? 'envs/2fast2q.yaml' : null
        container = params.singularity ? 'docker://ghcr.io/karchern/2fast2q@sha256:f5f8f9505aac8496abc1cddb5575e661be90f0119c8ff7a5ad814f2165d4c58c' : null
        cpus = 1
        memory = '64 GB'
        time = '15m'
    }

    withName: merge_barcode_matrices_process {
        container = params.singularity ? 'docker://rocker/tidyverse:latest' : null
        cpus = 1
        memory = '16GB'
        time = '5m'        
    }

    withName: run_mbarq_process {
        container = params.singularity ? 'docker://ghcr.io/karchern/mbarq@sha256:24f3f38b310ffd8563c0459a8fa7e4e640b6c70f8ee1cd0ceeb8419667ee4edb' : null
        cpus = 1
        memory = '64GB'
        time = '15m'        
    }
}
