profiles {
    slurm {
        process.executor = 'slurm'
        singularity.enabled = true
        conda.enabled = true   // allow conda usage in this profile
        conda.cacheDir = "${baseDir}/.conda_cache"    

    }
}

params {
    outdir = 'results'

    // Defaults for create_counts_process / 2fast2q
    // Path to the barcode CSV used with --g
    // TODO: These should not have a default in th end, but useful for development purposes
    ;folder_with_barseq_files = '/g/typas/Personal_Folders/Carlos/Illumina_sequencing/RB-seq/experiments/CV016G_uniformis_vulgatus_mouse_colonization_comm20/CV016G_uniformis/CV016G_uniformis_raw_data'
    // Output directory parameter for 2fast2q (--o)
    ;tf_outdir = './CV016G_2fast2q_2mismatch_output'
    // Upstream and downstream flanking sequences used by 2fast2q
    upstream_seq = 'CACGAGGTGTACGAT'
    downstream_seq = 'CAGAATTGGGAGTCT'
}

process {
    withName: create_counts_process {
        conda = params.conda ? 'envs/2fast2q.yaml' : null
        container = params.singularity ? 'docker://ghcr.io/karchern/2fast2q@sha256:f5f8f9505aac8496abc1cddb5575e661be90f0119c8ff7a5ad814f2165d4c58c' : null
        cpus = 1
        memory = '64 GB'
        time = '15m'
    }

    withName: merge_barcode_matrices_process {
        container = params.singularity ? 'docker://rocker/tidyverse:latest' : null
        cpus = 1
        memory = '8GB'
        time = '5m'        
    }

    withName: run_mbarq_process {
        container = params.singularity ? 'docker://ghcr.io/karchern/mbarq@sha256:124869626aa084a7cb4a281247e2548bcf1290c8cadbde522de42b8f09edf281' : null
        cpus = 1
        memory = '64GB'
        time = '15m'        
    }

    withName: add_locus_tags_to_barcode_matrices_process {
        conda = "envs/R.yaml"
        container = null
        cpus = 1
        memory = '8GB'
        time = '5m'           
    }
}
