profiles {
    slurm {
        process.executor = 'slurm'
        singularity.enabled = true
        conda.enabled = true   // allow conda usage in this profile
        conda.cacheDir = "${baseDir}/.conda_cache"    
    }

    test_run {
        process.executor = 'local'

        // mirror tool handling from slurm
        singularity.enabled = true
        conda.enabled = true
        conda.cacheDir = "${baseDir}/.conda_cache"

        // run only one task at a time
        process {
            maxForks = 4
        }
    }
}

params {
    outdir                         = 'results'
    test_run                       = false
    singularity                    = false
    mbarq_normalization            = 'median'
    remove_all_0_barcodes          = false
    // lowly_abundant_barcode_cutoff and filter_on_what go together.
    // lowly_abundant_barcode_cutoff -> Remove barcodes with a mean count <= lowly_abundant_barcode_cutoff in the group defined by filter_on_what
    lowly_abundant_barcode_cutoff  = 0
    filter_on_what                 = 'controls'    
    upstream_seq                   = 'CACGAGGTGTACGAT'
    downstream_seq                 = 'CAGAATTGGGAGTCT'
}

process {
    // defaults (optional): only used when not overridden by withName
    errorStrategy = 'terminate'
    maxRetries    = 1

    withName: extract_barcodes_process {
        conda     = params.conda ? 'envs/2fast2q.yaml' : null
        container = params.singularity ? 'docker://ghcr.io/karchern/2fast2q@sha256:f5f8f9505aac8496abc1cddb5575e661be90f0119c8ff7a5ad814f2165d4c58c' : null
        cpus      = params.test_run
        ? "1"
        : "32"

        // test run: tiny, fixed resources, no retries
        // real run: adaptive, increasing with attempts
        memory = params.test_run
            ? '1 GB'
            : { 100.GB * task.attempt } //TODO: Probably not necessary to have 128 here

        time = params.test_run
            ? '15m'
            : { 120.m * task.attempt }

        errorStrategy = params.test_run
            ? 'terminate'
            : { 'retry' }

        maxRetries = 3
    }

    withLabel: r_basic {
        container = params.singularity ? 'docker://rocker/tidyverse:latest' : null
        cpus      = 1

        memory = params.test_run
            ? '2 GB'
            : { 32.GB * task.attempt }

        time = params.test_run
            ? '15m'
            : { 30.m * task.attempt }

        errorStrategy = params.test_run
            ? 'terminate'
            : { 'retry' }

        maxRetries = 3
    }

    withName: run_mbarq_process {
        container = params.singularity ? 'docker://ghcr.io/karchern/mbarq@sha256:124869626aa084a7cb4a281247e2548bcf1290c8cadbde522de42b8f09edf281' : null
        cpus      = 1

        memory = params.test_run
            ? '512 MB'
            : { 64.GB * task.attempt }

        time = params.test_run
            ? '2m'
            : { 60.m * task.attempt }

        errorStrategy = params.test_run
            ? 'terminate'
            : { 'retry' }

        maxForks = params.test_run ? 1 : null

        maxRetries = 1
    }
}
